/*
Beaver Orange: #DC4405
Paddletail Black: #000000
Bucktooth White: #FFFFFF
*/
body {
	font-family: 'Concert One', cursive;
}

.main-navigation
{
	background-color: #DC4405;
}

.nav.navbar-nav.navbar-right li a {
	color: white;
	font-size: 1.4em;
}

.nav.navbar-nav.navbar-right .dropdown-menu>li>a{
	color: black;
	font-size: 1.4em;
}


.site-margins
{
	margin-left: 30px;
	margin-right: 30px;
}

.nav-main-item
{
	color: #FFFFFF;
}

.image-caption
{
	color: #000000;
	text-align: center;
	margin: auto;
}

.center
{
	text-align: center;
	margin: auto;
}

.margin {
	margin: 20px;
}


.orangeBox
{
	border: solid #DC4405 1px;
	padding: 15px;
}

.error
{
	color: red;
}

.homecircle {
	border: 7px solid #dcdcdc;
}

.button {
	background-color: #dc4405;
	color: white;
	font-weight: bold;
	padding: 8px;
	border: 3px solid ##f4c6b4;
	font-size: 1.5em;
	border-radius: 8px;
	border:none !important;
	box-shadow:none !important;
}