/*
Beaver Orange: #DC4405
Paddletail Black: #000000
Bucktooth White: #FFFFFF
*/
body {
    font-family: 'Cabin', sans-serif;
    /*font-family: 'Concert One', cursive;*/
}

.main-navigation
{
	background-color: #DC4405;
}

.nav.navbar-nav.navbar-right li a {
	color: white;
	font-size: 1.4em;
}

.nav.navbar-nav.navbar-right .dropdown-menu>li>a{
	color: black;
	font-size: 1.4em;
}


.site-margins
{
	margin-left: 30px;
	margin-right: 30px;
}

.nav-main-item
{
	color: #FFFFFF;
}

.image-caption
{
	color: #000000;
	text-align: center;
	margin: auto;
}

/*Centers text*/
.center
{
	text-align: center;
	margin: auto;
}

.margin {
	margin: 20px;
}

/*Orange border box around content on pages*/
.orangeBox
{
	border: solid #DC4405 1px;
	padding: 15px;
}

.error
{
	color: red;
}

/*Border around circles on homepage*/
.homecircle {
	border: 7px solid #dcdcdc;
}

/*Submit/Create/Login button CSS*/
.button {
	background-color: #dc4405;
	color: white;
	font-weight: bold;
	padding: 8px;
	border: 3px solid ##f4c6b4;
	font-size: 1.5em;
	border-radius: 8px;
	border:none !important;
	box-shadow:none !important;
}


/*Table CSS*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #DC4405;
    color: white;
}


/*Subheader CSS*/
.subheader {
    font-size: 24pt;
    font-weight: bold;
}

/*Subheader CSS*/
.subsubheader {
    font-size: 20pt;
    font-weight: bold;
    color: #DC4405;
}

footer {
    padding:50px;
    margin-top: 50px;
    background-color: #dc4405;
    color: white;
}

.footerbig {
    font-size: 2em;
}