<h2 class="center">LOGIN</h2>

<div class="col-xs-3">
</div>

<div class="col-xs-6 orangeBox">
<form ng-app="ConnectBasketWebApp" ng-controller="LoginController" name="LoginForm" novalidate>

<div class="center">
	<label for="user">Username:</label>
	<input type="text" name="user" ng-model="user" required placeholder="Enter your username">
	<!--<span class="error" ng-show="LoginForm.user.$dirty && LoginForm.user.$invalid">
	<span ng-show="LoginForm.user.$error.required">Username is required.</span>
	</span>-->
</div>
<div class="center">
	<label for="password">Password:</label>
	<input type="password" name="pass" ng-model="pass" required placeholder="Enter your password"/>
	<!--<span ng-show="form.password.$dirty && form.password.$error.required" class="error">Password is required</span>-->
</div>

<div class="center">
<button type="submit" class="button" ng-disabled="LoginForm.$invalid">LOGIN</button>
</div>

</form>
</div>

<div class="col-xs-3">
</div>
