<div class="col-xs-3">
</div>

<div class="col-xs-6 orangeBox">
<form name="CreateMessageForm" ng-submit="formSubmit()" novalidate>
	<p>
		<span style="color:red">* All fields are required</span>
	</p>
	<div class="form-group row">
		<div class="col-xs-3">
			<label for="to">To:</label>
		</div>
		<div class="col-xs-9">
			<input type="text" class="form-control" name="to" ng-model="to" required placeholder="Recipient Username">
		</div>
	</div>
	<div class="form-group row">		
		<div class="col-xs-3">
		<label for="body">Message body:</label>
		</div>
		<div class="col-xs-9">
		<textarea rows="15" cols="50" class="form-control" name="body" ng-model="body" required></textarea>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="button" ng-disabled="CreateUserForm.to.$invalid || CreateUserForm.body.$invalid">
		SEND</button>
		<span class="text-danger">{{ error }}</span>
	</div>
</form>
</div>

<div class="col-xs-3">
</div>