
<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <form name="CreateMessageForm" ng-submit="formSubmit()" novalidate>
            <p>
                <span style="color:red">* All fields are required</span>
            </p>
            <div class="form-group row">
                <div class="col-xs-2">
                    <label for="username"><b>Patient Name:</b></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="patientname" ng-model="patientname" required placeholder="Patient Name">
                </div>
                <div class="col-xs-2">
                    <label for="username"><b>Owner Name:</b></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="ownername" ng-model="ownername" required placeholder="Owner Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="username"><b>Owner Method of Contact:  <br /> (Enter email or phone number)</b> </label>
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="contactmethod" ng-model="contactmethod" required placeholder="Owner Contact Method">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for=""><b>Type of Call:</b> </label>
                </div>
                <div class="col-xs-5">
                    <select>
                        <option value="medical">Medical</option>
                        <option value="consult">Consult Request</option>
                        <option value="estimate">Estimate</option>
                        <option value="refill">Refill Request</option>
                        <option value="clinical">Clinical Trial</option>
                        <option value="misc">Misc</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for=""><b>Level of Urgency: </b></label>
                </div>
                <div class="col-xs-5">
                    <select>
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="body"><b>Message Body:</b></label>
                </div>
                <div class="col-xs-9">
                    <textarea rows="10" cols="50" class="form-control" name="body" ng-model="body" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="button">
                    SEND
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>