
<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <form name="CreateMessageForm" ng-submit="formSubmit()" novalidate>
            <div class="form-group row">
                <div class="col-xs-2">
                    <label for="username"><b>Patient Name:</b></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="patientname" ng-model="patientname" required placeholder="Enter patient's name">
                </div>
                <div class="col-xs-2">
                    <label for="casenumber"><b>Case Number:</b></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="casenumber" ng-model="casenumber" required placeholder="Enter case number for patient">
                </div>
            </div>

            <div class="form-group row">         
                <div class="col-xs-2">
                    <label for="username"><b>Owner Name:</b></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="ownername" ng-model="ownername" required placeholder="Enter owner's name">
                </div>
                <div class="col-xs-2">
                    <label for="username"><b>Owner Method of Contact: </b> </label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="contactmethod" ng-model="contactmethod" required placeholder="Enter email address or phone number">
                </div>
            </div>           
            <div class="form-group row">
                <div class="col-xs-2">
                    <label for=""><b>Type of Call:</b> </label>
                </div>
                <div class="col-xs-4">
                    <select ng-model="category" ng-change="categoryChanged()">
                        <option value="0">Select a category...</option>
                        <option ng-repeat="x in categories" value="{{x.Category}}"> {{x.Category}} </option>
                    </select>
                </div>
				<div class="col-xs-2">
                    <label for=""><b>Level of Urgency: </b></label>
                </div>
                <div class="col-xs-4">
                    <select ng-model="urgency">
                        <option value="Routine">Routine</option>
                        <option value="Urgent">Urgent</option>
                    </select>
                </div>
            </div>
			
			<div class="form-group row" ng-repeat="x in QuestionsToShow">
                <div class="col-xs-2">
					<label><b>{{x.QuestionText}}</b></label>
                    <label for=""></label>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="{{x.QuestionID}}">
                </div>	
            </div>
            

            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="body"><b>Message Body:</b></label>
                </div>
                <div class="col-xs-9">
                    <textarea rows="10" cols="50" class="form-control" name="body" ng-model="body" required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="username"><b>Route Message To: </b> </label>
                </div>
                <div class="col-xs-9">
                    <select ng-model="recipient">
                        <option value="0">Select a group...</option>
                        <option ng-repeat="x in groups" value="{{x.Group}}"> {{x.Group}} </option>
                    </select>

                    <!--<input type="text" class="form-control" name="username" ng-model="username" required placeholder="Route Message To">-->
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="button">
                    SEND
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>