<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <form name="CreateUserForm" ng-submit="formSubmit()" novalidate>
            <p>
                <span style="color:red">* All fields are required</span>
            </p>
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="CreateUserForm.first.$dirty && CreateUserForm.first.$invalid">
                        <span ng-show="CreateUserForm.first.$error.required">First name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="first">First Name:</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="first" ng-model="first" required placeholder="Enter your first name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="CreateUserForm.last.$dirty && CreateUserForm.last.$invalid">
                        <span ng-show="CreateUserForm.last.$error.required">Last name is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="last">Last Name:</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="last" ng-model="last" required placeholder="Enter your last name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="CreateUserForm.email.$dirty && CreateUserForm.email.$invalid">
                        <span ng-show="CreateUserForm.email.$error.required">Email is required.</span>
                        <span ng-show="CreateUserForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="email">Email:</label>
                </div>
                <div class="col-xs-9">
                    <input type="email" class="form-control" name="email" ng-model="email" required placeholder="Enter your email address">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="CreateUserForm.username.$dirty && CreateUserForm.username.$invalid">
                        <span ng-show="CreateUserForm.username.$error.required">Username is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="username">Username:</label>
                </div>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="username" ng-model="username" placeholder="Enter your username" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="CreateUserForm.password.$dirty && CreateUserForm.password.$invalid">
                        <span ng-show="CreateUserForm.password.$error.required">Password is required.</span>
                        <span ng-show="CreateUserForm.password.$error.length && !CreateUserForm.password.$error.required">Password must be at least 8 characters long.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col-xs-9">
                    <input type="password" class="form-control" name="password" ng-model="password" placeholder="Enter your password" required password-directive />
                </div>
            </div>
			<div class="form-group row">
                <div class="col-xs-6 col-md-3">
                    <label>Email Notifications: </label>
                </div>
                <div class="col-xs-6 col-md-5">
                    <select name="receiveNotifications" ng-model="receive.selection" ng-options="obj.value as obj.label for obj in receive.receiveArr"></select>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="button" ng-disabled="CreateUserForm.username.$invalid || CreateUserForm.password.$invalid || CreateUserForm.email.$invalid || CreateUserForm.first.$invalid || CreateUserForm.last.$invalid">
                    CREATE
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </form>
    </div>


    <div class="col-xs-1 col-md-2">
    </div>
</div>
