<div class="row">
<div class="col-xs-1 col-md-2">
</div>

<div class="col-xs-10 col-md-8 orangeBox">
    <form name="CreatePetForm" ng-submit="formSubmit()" novalidate>
        <p>
            <span style="color:red">* All fields are required</span>
        </p>
        <div class="form-group row">
            <div class="col-xs-3">
                <span style="color:red" ng-show="CreatePetForm.name.$dirty && CreatePetForm.name.$invalid">
                    <span ng-show="CreatePetForm.name.$error.required">Pet name is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="name">Pet Name:</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="name" ng-model="name" required placeholder="Enter the pet's name">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <span style="color:red" ng-show="CreatePetForm.species.$dirty && CreatePetForm.species.$invalid">
                    <span ng-show="CreatePetForm.species.$error.required">Pet species is required.</span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="species">Pet Species:</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="species" ng-model="species" required placeholder="Enter pet species">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="breed">Pet breed:</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="breed" ng-model="breed" placeholder="Enter pet breed">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="age">Pet age:</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="age" ng-model="age" placeholder="Enter pet age">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="color">Pet color:</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="color" ng-model="color" placeholder="Enter pet color">
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="button">
                CREATE
            </button>
            <span class="text-danger">{{ error }}</span>
        </div>
    </form>
</div>

<div class="col-xs-1 col-md-2">
</div>
</div>