<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <form name="EditProfileForm" ng-submit="formSubmit()" novalidate>


            <!--Allow email editing-->
            <div class="form-group row">
                <div class="col-xs-3">
                    <span style="color:red" ng-show="EditProfileForm.email.$dirty && EditProfileForm.email.$invalid">
                        <span ng-show="EditProfileForm.email.$error.required">Email is required.</span>
                        <span ng-show="EditProfileForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="email">Email:</label>
                </div>
                <div class="col-xs-6" ng-show="showEmail">
                    <input type="email" class="form-control" name="email" ng-model="email" required placeholder="Enter your email address">
                </div>
                <div class="col-xs-6" ng-show="!showEmail">
                    <input type="email" class="form-control" name="email" ng-model="email" required placeholder="Enter your email address" disabled>
                </div>
                <div class="col-xs-3">
                    <button type="button" ng-click="emailButton()" class="">Edit</button>
                </div>
            </div>

            <!--Allow notifications to be turned on and off-->
            <div class="form-group row">
                <div class="col-xs-6 col-md-3">
                    <label>Email Notifications: </label>
                </div>
                <div class="col-xs-6 col-md-5">
                    <select>
                        <option value="1">On</option>
                        <option value="0">Off</option>
                    </select>
                </div>
            </div>

            <!--Allow users to change which groups they are a part of-->
            <div class="form-group row">
                <div class="col-xs-6 col-md-3">
                    <label>Groups: </label>
                </div>
                <div class="col-xs-6 col-md-9">
                    
                    <div ng-repeat="x in groups">
						<div ng-switch on="x.Member">
							<input ng-switch-when="1" type="checkbox" id="{{x.Group}}" name="{{x.Group}}" value="{{x.Group}}" checked>
							<input ng-switch-default type="checkbox" id="{{x.Group}}" name="{{x.Group}}" value="{{x.Group}}">
						</div>
                        <label>{{x.Group}}</label>
						
						<p> Member: {{x.Member}}</p>
                    </div>
                    <!--<div>
                        <input type="checkbox" id="coding" name="interest" value="coding">
                        <label for="coding">Coding</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="interest" value="music">
                        <label for="music">Music</label>
                    </div>
                    <div>
                        <input type="checkbox" id="art" name="interest" value="art">
                        <label for="art">Art</label>
                    </div>
                    <div>
                        <input type="checkbox" id="sports" name="interest" value="sports">
                        <label for="sports">Sports</label>
                    </div>
                    <div>
                        <input type="checkbox" id="cooking" name="interest" value="cooking">
                        <label for="cooking">Cooking</label>
                    </div>-->
                  
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="button" ng-disabled="EditProfileForm.email.$invalid || EditProfileForm.first.$invalid || EditProfileForm.last.$invalid">
                    UPDATE
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>