<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <div>
            <div class="subheader">ALL MESSAGES</div>
           
            <table>
                <tr>
                    <th>Create Date</th>
                    <th>Created By</th>
					<th>Last Routed To</th>
                    <th>Message Subject: (Patient Name, Type of Call)</th>
                    <th>Status</th>
					<th>View Message Details</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.CreateDate }}</td>
                    <td>{{ x.CreatedBy }}</td>
					<td>{{ x.Recipient }}</td>
                    <td>{{ x.Subject }}</td>
                    <td>{{ x.Status }}</td>
					<td>
                        <button type="button" class="button" ng-click="viewDetails(x.MessageID)">
                            DETAILS
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-xs-1 col-md-2">
    </div>
</div>