<!-- Table with message/notes: Most recent note will be at the top
    Table headers:
    Who Created Message, What Department They Are In, What Time the Note was added, Actual Message/Note, Status, Urgency Level
    Note 3
    Note 2
    Note 1
    Original Message


    Small form to add a note: should have a box for the note and a dropdown to change urgency level and dropdown to
    change status (only between in progress and completed. New should be only for the original message. Once Marked as completed, message will move out of your main messages view).

    Below Add note form, there will be an input box for routing the message. If marked as completed, not routed to anyone else.

    There will be a button that says ADD NOTE AND ROUTE and then it will be sent to the next group with your new note.

    Below the Messages/Notes section, there will be other relevant information about the message.
    This includes:
    Message Create Date
    Message Created By Username
    Message Created By Department

    Patient Name (And any other relevant information such as age, species, etc.)
    Owner Name
    Owner Contact Method

    Type of Call
    Additional Questions corresponding to Type of Call

   Below this information, there will be another table with routing history.
    Table headers:
    Time Message was routed, Who Routed Message(username/department) (From: * Should be one person),
    Who message was routed to (To: May be individual person or group, may be multiple)

    -->

<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">

        <!--<div class="subheader">MESSAGE & NOTES</div>

        <table>
            <tr>
                <th>Create Date</th>
                <th>Created By</th>
                <th>Department Created In</th>
                <th>Message/Note</th>
                <th>Status</th>
                <th>Urgency Level</th>

            </tr>
            <tr ng-repeat="x in messages">
                <td>Date</td>
                <td>Username</td>
                <td>Department</td>
                <td>{{ x.Message }}</td>
                <td>In Progress</td>
                <td>Low </td>
            </tr>
        </table>

        <br />-->

        <div class="subsubheader">ADD NOTE</div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <label> Note: </label>
                    </div>
                    <div class="col-xs-5">
                        <textarea rows="3" class="form-control" name="body" ng-model="addnote" required></textarea>
                    </div>
                    <div class="col-xs-2">
                        <label> Level of Urgency: </label>
                    </div>
                    <div class="col-xs-2">
                        <select>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-xs-3">
                        <label for="username"><b>Route Message To: </b> </label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="username" ng-model="routeto" required placeholder="Route Message To">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button class="button" ng-click="addNoteAndRoute()">
                            ADD NOTE & ROUTE
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="subsubheader">MARK AS COMPLETED</div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <label> Note: </label>
                    </div>
                    <div class="col-xs-9">
                        <textarea rows="3" class="form-control" name="body" ng-model="notecomplete" required></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button class="button" ng-click="addNoteAndComplete()">
                            MARK AS COMPLETED
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>

<br />



<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">



        <div class="subheader"> ORIGINAL MESSAGE DETAILS</div>


        <div class="row">
            <div class="col-xs-2">
                <label for="username"><b>Patient Name:</b></label>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="patientname" ng-model="patientname" required disabled>
            </div>
            <div class="col-xs-2">
                <label for="casenumber"><b>Case Number:</b></label>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="casenumber" ng-model="casenumber" required disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">
                <label for="username"><b>Owner Name:</b></label>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="ownername" ng-model="ownername" disabled>
            </div>
            <div class="col-xs-2">
                <label for="username"><b>Owner Method of Contact: </b> </label>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="contactmethod" ng-model="contactmethod" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for=""><b>Type of Call:</b> </label>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="category" ng-model="category" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for=""><b>Level of Urgency: </b></label>
            </div>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="urgency" ng-model="urgency" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label for="body"><b>Message Body:</b></label>
            </div>
            <div class="col-xs-9">
                <textarea rows="10" cols="50" class="form-control" name="body" ng-model="body" disabled></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <label for="username"><b>Route Message To: </b> </label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="recipient" ng-model="recipient" disabled>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="username"><b>Original Message Create Date:</b> Date </label><br />
                <label for="username"><b>Original Message Created By (username, department):</b> Date </label><br />
                <label for="username"><b>Type of Call:</b> Medical </label><br />
                <label for="username"><b>Additional Questions:</b> ABC </label><br />
            </div>
            <div class="col-xs-12 col-md-6">
                <label for="username"><b>Patient Name:</b> Snoopy</label><br />
                <label for="username"><b>Patient Breed: </b> Beagle </label><br />
                <label for="username"><b>Owner Name: </b> Charlie Brown </label><br />
                <label for="username"><b>Owner Contact Info:</b> 555-123-4656 </label><br />
            </div>
        </div>
        <br />

        <div class="subheader">ROUTING HISTORY</div>
        <table>
            <tr>
                <th>Create Date</th>
                <th>From:</th>
                <th>To:</th>
            </tr>
            <tr ng-repeat="x in messages">
                <td>Date</td>
                <td>Username</td>
                <td>{{ x.Message }}</td>
            </tr>
        </table>-->

    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>
<!--
<br />

<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <form name="ChangeStatus" ng-submit="formSubmit()" novalidate>

            <div class=" row">
                <div class="col-xs-3">
                    <label for=""><b>Message Body:</b> </label>
                </div>
                <div class="col-xs-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class=" row">
                <div class="col-xs-3">
                    <label for=""><b>Message Status: </b></label>
                </div>
                <div class="col-xs-5">
                    <select name="changedstate" ng-model="changedstate">
                        <option disabled selected value> -- select new status -- </option>
                        <option value="new">New</option>
                        <option value="inprogress">In Progress</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>
            </div>

            <div class="">
                <button type="submit" class="button">
                    Submit Changes
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
        </form>
    </div>

    <div class="col-xs-1 col-md-2">
    </div>

</div>

-->
