<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
  
    <div class="col-xs-10 col-md-8 orangeBox">
        <div>
            <div class="subheader">UNCLAIMED MESSAGES</div>
            <h4>
                Highest priority messages will appear at the top. Click the DETAILS button to view the specifics of a message.
                All unread messages sent to any group you are a part of will appear in this messages box.
            </h4>

            <table>
                <tr>
                    <th>Message Body</th>
                    <th>View Message Details</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.Message }}</td>
                    <td>
                        <button type="submit" class="button">
                            DETAILS
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <div class="subheader">YOUR CLAIMED MESSAGES</div>
            <h4>
                The following messages have already been viewed by you at least once. 
            </h4>
			<form name="ChangeMessageState" ng-submit="formSubmit()" novalidate>
            <table>
                <tr>
                    <th>Message Body</th>
                    <th>View Message Details</th>
                    <th>Message State</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.Message }}
					<input type="hidden" name="body" value={{x.message}}>
					</td>
                    <td>
					<!-- Changing this button to a div for now so it doesn't interfere with the form -->
                        <div class="button">
                            DETAILS
                        </div>
                    </td>
					<td>
						<select name="state">
							<option value='new'>New</option>
							<option value='inprogress'>In Progress</option>
							<option value='closed'>Closed</option>
						</select>
					</td>
                </tr>
            </table>
			<button type="submit" class="button">
                    Submit State Changes
            </button>
			</form>
        </div>
        <div>
            <div class="subheader">OTHER CLAIMED MESSAGES</div>
            <h4>
                The following messages have already been viewed by you at least once.
            </h4>

            <table>
                <tr>
                    <th>Message Body</th>
                    <th>View Message Details</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.Message }}</td>
                    <td>
                        <button type="submit" class="button">
                            DETAILS
                        </button>
                    </td>
                </tr>
            </table>
        </div>


    </div>

    <div class="col-xs-1 col-md-2">
    </div>
</div>

<br />

<!--<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>

    <div class="col-xs-10 col-md-8 orangeBox">
        <h2>OLD MESSAGES</h2>
        Table of old messages will go here.
    </div>

    <div class="col-xs-1 col-md-2">
    </div>
</div>-->