<div class="row">
    <div class="col-xs-1 col-md-2">
    </div>
  
    <div class="col-xs-10 col-md-8 orangeBox">
        <div>
            <div class="subheader">UNCLAIMED MESSAGES</div>
            <h4>
                Highest priority messages will appear at the top. Click the DETAILS button to view the specifics of a message.
                All unread messages sent to any group you are a part of will appear in this messages box.
            </h4>

            <table>
                <tr>
                    <th>Create Date</th>
                    <th>Created By</th>
                    <th>Message Subject: (Patient Name, Type of Call)</th>
                    <th>View Message Details</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.CreateDate }}</td>
                    <td>{{ x.CreatedBy }}</td>
                    <td>{{ x.Subject }}</td>
                    <td>
                        <button type="submit" class="button">
                            DETAILS
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <div class="subheader">YOUR CLAIMED MESSAGES</div>
            <h4>
                The following messages have already been viewed by you at least once. 
            </h4>

            <table>
                <tr>
                    <th>Create Date</th>
                    <th>Created By</th>
                    <th>Message Subject: (Patient Name, Type of Call)</th>
                    <th>View Message Details</th>

                </tr>
                <tr ng-repeat="x in messages">
                    <td>Date</td>
                    <td>Username</td>
                    <td>{{ x.Message }}</td>
                    <td>
                        <a ui-sref="viewmessagedetails" class="button">DETAILS</a>
                    </td>
                </tr>
            </table>
        </div>


    </div>

    <div class="col-xs-1 col-md-2">
    </div>
</div>
