<nav class="navbar navbar-inverse navbar-static-top main-navigation" role="navigation">
    <div class="site-margins">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-left" ui-sref="home"><img src="images/CBLogo2.png" alt="Logo" height="50"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="login" ng-if="!isAuth"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
                </li>
				<li><a ui-sref="logout" ng-if="isAuth"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
                </li>
				<li class="dropdown" ng-if="isAuth">
				<!--<li class="dropdown">-->
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"></span> MESSAGES <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="addmessage">Add New Message</a>
						</li>
                        <li><a ui-sref="viewmessages">View Messages</a>
						</li>
                        <li><a ui-sref="historyofmessages">History of Messages</a></li>
                    </ul>
                </li>
				<li ng-if="isAuth">
				<!--<li>--><a ui-sref="editprofile"> <span class="glyphicon glyphicon-pencil"></span> EDIT PROFILE</a></li>
				<li class="dropdown" ng-if="isAuth">
                <!--<li class="dropdown">-->
                    <a class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span> ADMIN <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="auditlog">Audit Log</a></li>
                        <li><a ui-sref="createuser">Create User</a>
						</li>
                        <li><a ui-sref="createpet">Create Pet</a>
						</li>
						<li><a ui-sref="createowner">Create Owner</a>
						</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>