<nav class="navbar main-navigation">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand nav-main-item" href="#!/Home">ConnectBasket</a>
		</div>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#!/Home" class="nav-main-item">Home</a></li>
		  <li><a href="#!/Login" class="nav-main-item">Login</a></li>
		  <li><a href="#!/CreateUser" class="nav-main-item">Create User</a></li>
		  <li><a href="#!/CreatePet" class="nav-main-item">Create Pet</a></li>
		  <li><a href="#!/CreateOwner" class="nav-main-item">Create Owner</a></li>
		</ul>
	  </div>
</nav>